:root {
    --red: #E74C3C;
    --error: #FFD2D2;
    --success: #DFF2BF;
    --green: #4F8A10;
    --gray: #7E7E7E;
    --medium-gray: #7E7E7E;
    --ligth-gray: #E2E2E2;
    --light: #fffbfb;
    --dark: #231F1F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--dark);
    background-color: var(--light);
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: 'Poppins', sans-serif;
}

a {
    color: var(--red);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: 400ms ease-in-out;
    letter-spacing: -0.03em;
    font-size: 17px;
}

a:hover {
    color: var(--medium-gray);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px 0;
}

.header__brand {
    width: 180px;
}

.header__navbar {
    display: flex;
    gap: 40px;
    font-size: 16px;
}

.navbar__item {
    color: var(--medium-gray);
    font-size: 17px;
}

.navbar__item:hover {
    color: var(--red);
    font-weight: bold;
}

.navbar__item--active {
    color: var(--red);
    font-weight: bold;
}

.hero {
    display: grid;
    grid-template-rows: 70% auto;
    width: 85vw;
    height: 65vh;
    padding: 80px 80px 0px 80px;
    margin: auto;
    border-radius: 25px;
    background: url('./images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__heading {
    font-size: 72px;
    line-height: 85.69%;
    letter-spacing: -4.0px;
    color: var(--light);
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__products {
    display: grid;
    grid-template-columns: 23% auto;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);            
    border-radius: 25px;
    padding: 25px;
    gap: 15px;
    height: 300px;
}

.hero__main-product {
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.tabs__controls {
    border-bottom: var(--ligth-gray) 1px solid;
    margin-bottom: 26px;
}

.tabs__item {
    display: inline-block;
    color: var(--gray);
    padding: 10px 15px;
    border-bottom: transparent 3px solid;
    transition: 400ms ease-in-out;
}

.tabs__item:hover {
    color: var(--red);
    font-weight: bold;
    cursor: pointer;
}

.tabs__item--active {
    color: var(--red);
    font-weight: bold;
    border-bottom: var(--red) 3px solid;
}

.tabs__paragraph {
    color: var(--gray);
    letter-spacing: -0.015em;
    font-size: 16px;
    line-height: 121%;
    opacity: 0;
    display: none;
    transition: 400ms ease-in-out;
}

.tabs__paragraph > a {
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

.contact {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 50px;
    width: 75%;
    margin: auto;
}

.contact__heading {
    font-size: 38px;
    margin: 25px 0;
}

.contact__map > iframe {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    border-top: var(--ligth-gray) 1px solid;
    margin-top: 100px;
}

.footer__copy {
    color: var(--gray);
}

.button {
    background: var(--red);
    color: var(--light);
    padding: 9px 25px;
    border-radius: 15px;
    font-weight: bold;
    border: var(--red) 2px solid;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
    transition: 400ms ease-in-out;
}

.button:hover {
    color: var(--red);
    background: transparent;
}

.button--large {
    padding: 10px 50px;
}

.button--float-whatsapp {
    border-radius: 50%;
    position: fixed;
    bottom:  0;
    right: 0;
    z-index: 1;
    padding: 18px 21px;
    margin: 30px;
}

.button--float-whatsapp:hover {
    background: var(--red);
    transform: scale(.8);
}


.hidden {
    display: none !important;
}

.form__item {
    margin-bottom: 16px;
}

.form__input, .form__textarea {
    color: var(--gray);
    outline: none;
    border: none;
    padding: 15px 32px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    background: #F2F2F2;
    border-radius: 15px;
    width: 100%;
}

.card {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 15px;
}

.card__section {
    margin-bottom: 10px;
}

.card__heading {
    font-weight: bold;
    color: var(--red);
    font-size: 18px;
    margin-bottom: 5px;
}

.list {
    margin: 0 25px;
    color: var(--gray);
}

.products__header {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.products__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}

.products__search {
    color: var(--gray);
    background: #F2F2F2;
    padding: 15px 40px;
    border-radius: 15px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.products__search > input {
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

.products__search > input, button {
    border: none;
    background: transparent;
    color: var(--gray);
    text-align: center;
    outline: none;
}

.products__search > button > img {
    width: 20px;
    cursor: pointer;
}

.social-media {
    display: flex;
    gap: 10px;
}

.social-media__item {
    background: var(--red);
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media__item:hover {
    transform: scale(.9);
}

.social-media__item > img {
    width: 21px;
    height: 21px;
}

.message {
    padding: 15px 15px 15px 60px;
    background: var(--success);
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
}

.message::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./icons/check-circle.svg');
    background-repeat: no-repeat;
    background-position: center left;
    margin-left: 15px;
}

.message__content {
    font-size: 14px;
    color: var(--green);
}

.message--error {
    background: var(--error);
}

.message--error::before {
    background-image: url('./icons/alert-octagon.svg');
}

.message--error .message__content {
    color: var(--red);
}

.hidden {
    display: none;
    opacity: 0;
}

.show {
    display: initial;
    opacity: 1  ;
}

.products__pills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-top: 30px;
}

.pill {
    color: var(--medium-gray);
    background: var(--light);
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

.pill:hover {
    color: var(--light);
    background: var(--red);
}

.pill--active {
    color: var(--light);
    background: var(--red);
}

.products__collection {
    width: 90%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.products__empty {
    text-align: center;
    grid-column: 2 / 3;
    color: var(--gray);
    font-size: 18px;
}

.card__content {
    padding: 16px 30px;
}

.card__title {
    font-family: 'Work Sans', sans-serif;
    color: var(--dark);
    font-weight: 600;
    font-size: 30px;
    line-height: 85.69%;
    letter-spacing: -0.05em;
}

.card__subtitle {
    color: var(--red);
    font-size: 15px;
    line-height: 85.69%;
}

.card__details {
    margin: 15px 0px 5px;
}

.card__heading {
    font-size: 20px;
    line-height: 85.69%;
    letter-spacing: -0.05em;
    color: var(--dark) !important;
    font-weight: 500;
}

.card--product {
    padding: 0;
}

.card--product .card__details {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 10px;
}

.card--product .card__details > div > p {
    color: var(--medium-gray);
    font-size: 16px;
    line-height: 85.69%;
}

.card--product .card__details > div > small {
    font-weight: 500;
    font-size: 12px;
    line-height: 85.69%;
    letter-spacing: -0.05em;
    color: #BABABA;
}

.card--product .button {
    margin-top: 15px;
    grid-column: 1 / 3;
    width: 100%;
    text-align: center;
    letter-spacing: -0.003em;
    font-size: 16px;
}

.card__image {
    border-bottom: 1px solid var(--ligth-gray);
    height: 230px;
}

.card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}