{% extends 'base.html' %}


{% block title %}Venta de estibas, canastillas y canecas{% endblock %}


{% block container %}
<section class="hero">
    <div class="hero__container">
        <h1 class="hero__heading">Estibas, Canastillas<br> y Canecas</h1>
        <br><br>
        <a href="" class="button">Ver catalogo</a>
    </div>
    <div class="hero__products">
        <img class="hero__main-product" src="{{ url_for('static', filename='images/estibas.png') }}" alt="Estibas de jhonplast">
        <div class="tabs">
            <div class="tabs__controls">
                <p class="tabs__item tabs__item--active" data-id="0">Estibas</p>
                <p class="tabs__item" data-id="1">Canecas</p>
                <p class="tabs__item" data-id="2">Canastillas</p>
            </div>
            <div class="tabs__content">
                <p class="tabs__paragraph" data-id="0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi deserunt cum aliquam expedita, dolor
                    ad quo mollitia fugiat explicabo molestias nam eveniet numquam commodi quod repudiandae nostrum?
                    Quisquam, blanditiis optio?
                    <a href="">Ver todas las estibas</a>
                </p>
                <!-- <p class="tabs__paragraph" data-id="1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi deserunt cum aliquam expedita, dolor
                    ad quo mollitia fugiat explicabo molestias nam eveniet numquam commodi quod repudiandae nostrum?
                    Quisquam, blanditiis optio?
                    <a href="">Ver todas las canecas</a>
                </p>
                <p class="tabs__paragraph" data-id="2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi deserunt cum aliquam expedita, dolor
                    ad quo mollitia fugiat explicabo molestias nam eveniet numquam commodi quod repudiandae nostrum?
                    Quisquam, blanditiis optio?
                    <a href="">Ver todas las canastillas</a>
                </p> -->
            </div>
        </div>
    </div>
</section>
<a class="button button--float">
    Whatsapp
</a>
{% endblock %}