<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JhonPlast | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.png') }}" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Work+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="header">
        <a href="/">
            <img class="header__brand" src="{{ url_for('static', filename='images/JhonPlast.svg') }}" alt="JhonPlast" loading="lazy">
        </a>
        <nav class="header__navbar">
            <a class="navbar__item" href="/">Home</a>
            <a class="navbar__item" href="/productos/">Productos</a>
            <a class="navbar__item" href="/contacto/">Contacto</a>
        </nav>
        <button class="navbar__toogle-button"></button>
        <a class="button button--header" href="https://api.whatsapp.com/send?phone=573123316726&text=Vengo%20desde%20su%20pagina%20web,%20quiero%20cotizar%20un%20proyecto">Cotizar</a>
    </header>
    <main>
        {% block container %}{% endblock %}
        <a class="button button--float-whatsapp" href="https://api.whatsapp.com/send?phone=573214896631&text=Hola,%20me%20gustar%C3%ADa%20cotizar%20un%20proyecto%20">
            <img src="{{ url_for('static', filename='icons/Whatsapp.svg') }}" alt="Cotizar por whatsapp">
        </a>
    </main>
    <footer class="footer">
        <img class="footer__brand" src="{{ url_for('static', filename='images/JhonPlast.svg') }}">
        <div>
            <p class="footer__copy">© JhonPlast 2021. JONPLAST EP SAS. Todos los derechos reservados.</p>
            <a href="https://royerguerrero.vercel.app/" class="footer__author">Constuido por Royer Guerrero</a>
        </div>
        <div class="social-media">
            <a href="" class="social-media__item" target="blank">
                <img src="{{ url_for('static', filename='icons/facebook.svg') }}" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/jonplast/?r=nametag" class="social-media__item" target="blank">
                <img src="{{ url_for('static', filename='icons/instagram.svg') }}" alt="Instagram">
            </a>
            <a href="https://api.whatsapp.com/send?phone=573123316726&text=Hola!,%20me%20gustar%C3%ADa%20conocer%20m%C3%A1s%20sobre%20la%20empresa" class="social-media__item">
                <img src="{{ url_for('static', filename='icons/Whatsapp.svg') }}" alt="Whatsapp">
            </a>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='javascript/menu.js') }}"></script>
    
    {% block scripts %}{% endblock %}
        
</body>

</html>
