{% extends 'base.html' %}


{% block title %}Venta de estibas, canastillas y canecas{% endblock %}


{% block container %}
<section class="hero">
    <div class="hero__container">
        <h1 class="hero__heading">Estibas, Canastillas<br> y Canecas</h1>
        <br><br>
        <a href="/productos/" class="button">Ver catalogo</a>
    </div>
    <div class="hero__products">
        <img class="hero__main-product" src="{{ url_for('static', filename='images/estibas.png') }}"
            alt="Estibas de jhonplast">
        <div class="tabs">
            <div class="tabs__controls">
                <p class="tabs__item tabs__item--active" data-id="0">Estibas</p>
                <p class="tabs__item" data-id="1">Canecas</p>
                <p class="tabs__item" data-id="2">Canastillas</p>
                <p class="tabs__item" data-id="3">Postes</p>
            </div>
            <div class="tabs__content">
                <p class="tabs__paragraph">
                    Es un producto fabricado en un polímero plástico llamado polietileno en alta densidad, ideal para
                    operaciones logísticas y almacenamiento de productos alimenticios, también tenemos otras opciones
                    para instanteria y sobrepeso de furgón de transportes de alimentos.
                    <a href="/productos/?category=estibas">Ver todas las estibas</a>
                </p>
                <p class="tabs__paragraph">
                    Tenemos esta línea de productos diseñada para el reciclaje y manejo de las basuras de diferentes
                    capacidades y colores para el reciclaje de las mismas.
                    <a href="/productos/?category=canecas">Ver todas las canecas</a>
                </p>
                <p class="tabs__paragraph">
                    Es un producto fabricado en un polímero plástico llamado polietileno en alta densidad ideal para
                    transportar y almacenar productos alimenticios como pollo carne y verduras de muy buena calidad que
                    puede resistir bajas temperaturas ideales para los cuartos fríos.
                    <a href="/productos/?category=canastillas">Ver todas las canastillas</a>
                </p>
                <p class="tabs__paragraph">
                    Sacamos esta línea de productos pensando en la tabla de árboles y darle una solución a esa
                    problemática con una madera plástica elaborada en polipropileno en alta densidad con gran ventaja
                    que se puede fabricar a la dimensión y la forma que el cliente desee.
                    <a href="/productos/?category=postes">Ver todos los postes</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='javascript/tabs.js') }}"></script>
{% endblock %}